@model Real_Estate_Project.ViewModels.Dashboard_View_Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-12">
        <div class="jumbotron card border-info mb-3">
            <div class="row">
                <h1 class="display-4" style="margin:0 auto;">Dashboard</h1>
            </div>
            <br />
            <div class="row">
                <p class="lead" style="margin:0 auto;">Unlock the secrets to your business by the data REAP is providing</p>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="row">
        <div class="col-9">
            <div class="card text-white bg-dark mb-3 card border-info mb-3 ">
                <div class="card-body">
                    <div class="row">
                        @foreach (var chart in Model.UsersCharts)
                        {
                            <div class="col-4">
                                <img src="@chart.Url" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-dark mb-3 card border-danger mb-3">
                <div class="card-body">
                    <div class="row">
                        @foreach (var chart in Model.ViewingsCharts)
                        {
                            <div class="col-6">
                                <img src="@chart.Url" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <div class="card text-white bg-dark mb-3 card border-success mb-3">
                <div class="card-body">
                    <div class="row">
                        @foreach (var chart in Model.CustomersCharts)
                        {
                            <div class="col-4">
                                <img src="@chart.Url" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-dark mb-3 card border-warning mb-3">
                <div class="card-body">
                    <div class="row">
                        @foreach (var chart in Model.ListingsCharts)
                        {
                            <div class="col-6">
                                <img src="@chart.Url" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


